/* Area Chart */

#areaChart {
	overflow: hidden;}

#lineChart {
	overflow: hidden;
}

#areaChart svg {
	height: 200px;
	width: 380px;
	min-width: 100px;
	min-height: 100px;
}

#lineChart svg {
	height: 200px;
	width: 380px;
	min-width: 100px;
	min-height: 100px;
}

#areaChart tr.z-row-over>td.z-row-inner, tr.z-row-over>.z-cell {
	background-color: rgb(255, 255, 255);
}

#lineChart tr.z-row-over>td.z-row-inner, tr.z-row-over>.z-cell {
	background-color: rgb(255, 255, 255);
}

#areaChart .nodatadiv {
	display: table-cell;
	width: 700px;
	height: 370px;
	text-align: center;
	vertical-align: middle;
}

#lineChart .nodatadiv {
	display: table-cell;
	width: 700px;
	height: 370px;
	text-align: center;
	vertical-align: middle;
}

#areaChart .nodatainner {
	padding: 10px;
}

#lineChart .nodatainner {
	padding: 10px;
}

/* Area Chart END  */

.button--small, [class*=bg-] .button--small {
    font-size: 14px;
 };

/* Gridster (EBIZ) */

.gridster-item-container .gridster-item-body{
bottom:0px;
}
.gridster-item-container{
min-height:50px;
}
.att-accordion {
    border-width: 0px;
}

/* End Gridster */

#myGallery {
	width: 100%;
	height: 400px;
}
  
#myGallery img {
	border: 2px solid #52697E;
}
  
a.loading {
	background: #fff url(../images/ajax_small.gif) no-repeat center;
}
  
.center {
    margin-left: auto;
   	margin-right: auto;
}

		
#selectedTrafficDay ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#selectedTrafficDay li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 3px 3px;
    padding: 5px 5px 5px 5px;
    background-color: #F2F2F2;
    color: #696969;
}

#SelectedTrafficeDayView {
	padding: 0 1em;
}

#selectedTrafficDay .active1 {
    background-color: #FFF;
    color: #000;
}

#BusyHourTraffic ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#BusyHourTraffic li {
    float: left;
    border: 1px solid #000;
    border-bottom-width: 0;
    margin: 3px 3px 3px 3px;
    padding: 5px 5px 5px 5px;
    background-color: #F2F2F2;
    color: #696969;
}

#BusyHourTrafficView {
	padding: 0 1em;
}

#BusyHourTraffic .active2 {
    background-color: #FFF;
    color: #000;
}

#slider {
	width: 600px;
	margin: 0 auto;
	clear: left;
}

@media only screen and (device-width: 768px) {
	#slider {
		width: 400px;
	}
}

#container {
	
}

#title {
	float:left; 
	width:100%; 
	height:30px; 
	margin:;
	color:#222222;
	text-shadow: 1px 1px 2px #A0A0A0;
}

