.DS_Store
.project
.settings
.classpath
.jupiter
.pydevproject

# IntelliJ files
.idea/
**/*.iml
overlays/

target
.metadata/
ASTRAGateway/policyEngineLog.log
LogParser/IntegrityMonitor.log
PolicyEngineAPI/policyEngineLog.log
PyPDPServer/src/main/java/controller/.PolicyEngineServices.java.swp
XACML-PAP-ADMIN/sql/xacmlTest.trace.db
XACML-PAP-ADMIN/src/main/resources/META-INF/generatedCreate.ddl
XACML-PAP-ADMIN/src/main/resources/META-INF/generatedDrop.ddl
XACML-PAP-ADMIN/src/main/webapp/VAADIN/themes/xacml_pap_admin/addons.scss
XACML-PAP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PAP-REST/audit.log
XACML-PAP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PAP-REST/debug.log
XACML-PAP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PAP-REST/error.log
XACML-PAP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PAP-REST/metrics.log
XACML-PAP-REST/pdps/default/xacml.pip.properties
XACML-PAP-REST/pdps/default/xacml.policy.properties
XACML-PAP-REST/pdps/xacml.properties
XACML-PAP-REST/sql/xacmlTest.trace.db
XACML-PAP-REST/src/main/resources/META-INF/generatedCreate.ddl
XACML-PDP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PDP-REST/audit.log
XACML-PDP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PDP-REST/debug.log
XACML-PDP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PDP-REST/error.log
XACML-PDP-REST/catalina.base_IS_UNDEFINED/logs/Policy/XACML-PDP-REST/metrics.log
XACML-REST/IntegrityMonitor.log
/bin/
*.checkstyle
*.iml
*.log
BRMSGateway/logs/
BRMSGateway/sql/
BRMSGateway/src/test/resources/META-INF/generatedCreate.ddl
BRMSGateway/src/test/resources/META-INF/generatedDrop.ddl
BRMSGateway/src/test/resources/failure.properties
BRMSGateway/POLICY_LOGS_IS_UNDEFINED/
BRMSGateway/RuleProjects/
LogParser/logs/
ONAP-PAP-REST/catalina.base_IS_UNDEFINED/
ONAP-PAP-REST/pdps/
ONAP-PAP-REST/sql/
ONAP-PAP-REST/src/test/resources/generatedCreate.ddl
ONAP-PAP-REST/src/test/resources/generatedDrop.ddl
ONAP-PAP-REST/src/test/resources/webapps/
ONAP-PDP-REST/catalina.base_IS_UNDEFINED/
ONAP-PDP-REST/sql/
ONAP-PDP-REST/src/test/resources/config_testing/
ONAP-PDP-REST/src/test/resources/generatedCreate.ddl
ONAP-PDP-REST/src/test/resources/generatedDrop.ddl
ONAP-PDP-REST/topicBackup.txt
ONAP-PAP-REST/POLICY_LOGS_IS_UNDEFINED/
ONAP-PDP-REST/POLICY_LOGS_IS_UNDEFINED/
ONAP-PDP/logs/
ONAP-XACML/logs/
ONAP-XACML/src/test/resources/pdpstest/
POLICY-SDK-APP/catalina.base_IS_UNDEFINED/
PolicyEngineAPI/logs/
PolicyEngineAPI/POLICY_LOGS_IS_UNDEFINED/
PolicyEngineUtils/logs/
ONAP-REST/logs/common-modules/integrity-monitor/*.log
ONAP-SDK-APP/POLICY_LOGS_IS_UNDEFINED
