# Line Format: component=status where
#   component=pap|pdp|pypdp|configs|console|paplp|pdplp and
#   status=on|off|uninstalled where
#      on: component is to be monitored and should started
#      off: component is to be monitored and should stopped
#      uninstalled: component is NOT to be monitored
# There should be no component duplicate lines

pap=uninstalled
pdp=uninstalled
configs=uninstalled
pypdp=uninstalled
console=uninstalled
paplp=uninstalled
pdplp=uninstalled
brmsgw=uninstalled
