<div ng-controller="brmsRawPolicyController">
	<form>
		<div class="well">
			<div class="form-group row">
				<div class="form-group col-sm-6">
					<label>Policy Name:<sup><b>*</b></sup></label> <input type="text"
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-readonly="temp.policy.editPolicy"
						ng-model="temp.policy.policyName" required pattern="\S+"
						title="Enter the Policy Name without any spaces" />
				</div>
				<div class="form-group col-sm-6">
					<label>Description:</label> <input type="text" class="form-control"
						ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.policyDescription" />
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-sm-3">
					<label>Risk Type:<sup><b>*</b></sup></label> <select
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.riskType"
						ng-options="option for option in riskTypeDictionaryDatas track by option"
						required pattern="\S+" title="RiskType is required"></select>
				</div>
				<div class="form-group col-sm-3">
					<label>Risk Level:<sup><b>*</b></sup></label> <select
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.riskLevel"
						required pattern="\S+" title="RiskLevel is required">
						<option>1</option>
						<option>2</option>
						<option>3</option>
						<option>4</option>
						<option>5</option></select>
				</div>
				<div class="form-group col-sm-3">
					<label>Guard:<sup><b>*</b></sup></label> <select
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.guard"
						required pattern="\S+" title="Guard is required">
						<option>True</option>
						<option>False</option></select>
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-sm-3">
					<label>Time to Live Date:</label> <input type="date"
						class="form-control" name="ttlDate" ng-disabled="temp.policy.readOnly" class="date"
						ng-model="temp.policy.ttlDate" />
				</div>
				<div class="form-group col-sm-3">
					<label>Controller:<sup></sup></label> <select
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.brmsController"
						ng-options="option for option in brmsControllerDatas track by option"></select>
				</div>
				<div class="form-group col-sm-3">
					<label>Dependencies:<sup></sup></label> <select
						class="form-control" multiple ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.brmsDependency"
						ng-options="option for option in brmsDependencyDatas track by option"></select>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="form-group row">
				<div class="form-group col-sm-2">
					<label>Rule Attributes:<sup><b>*</b></sup></label>
					<button type="button" class="btn btn-default"
						ng-disabled="temp.policy.readOnly" ng-click="addNewChoice()">
						<i class="fa fa-plus"></i>
					</button>
				</div>
			</div>
			<div class="form-group row">
				<div data-ng-repeat="choice in temp.policy.attributes">
					<div class="form-group row" style="margin-left: 2%">
						<div class="form-group col-sm-3">
							<input type="text" class="form-control"
								ng-disabled="temp.policy.readOnly" ng-model="choice.key"
								placeholder="Attribute Key" />
						</div>
						<div class="form-group col-sm-3">
							<input type="text" class="form-control"
								ng-disabled="temp.policy.readOnly" ng-model="choice.value"
								placeholder="Attribute Value" />
						</div>
						<div class="form-group col-sm-1">
							<button type="button" class="btn btn-default" ng-show="$last"
								ng-disabled="temp.policy.readOnly" ng-click="removeChoice()">
								<i class="fa fa-minus"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="well">
			<div class="form-group row">
				<div class="form-group col-sm-12">
					<label>Raw Rule:<sup><b>*</b></sup></label>
					<textarea class="form-control"
						ng-model="temp.policy.configBodyData"
						ng-disabled="temp.policy.readOnly" style="height: 400px;" required></textarea>
				</div>
			</div>
		</div>
		<div id="validate" style="width: 70%"></div>
		<br>
		<div class="modal-footer">
			<div>
				<button class="btn btn-primary" herf="javascript:void(0)"
					ng-disabled="temp.policy.readOnly"
					ng-click="validatePolicy(temp.policy);">Validate</button>
				<button class="btn btn-success" herf="javascript:void(0)"
					ng-disabled="savebutton" ng-disabled="temp.policy.readOnly"
					ng-click="saveBrmsRawPolicy(temp);">Save</button>
				<button type="button" class="btn btn-default" ng-click="refresh();">Close</button>
			</div>
		</div>
	</form>
</div>