<div ng-controller="decisionPolicyController">
	<form>
		<div class="well">
			<div class="form-group row">
				<div class="form-group col-sm-6">
					<label>Policy Name:<sup><b>*</b></sup></label> <input type="text"
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-readonly="temp.policy.editPolicy"
						ng-model="temp.policy.policyName" required pattern="\S+"
						title="Enter the Policy Name without any spaces" />
				</div>
				<div class="form-group col-sm-6">
					<label>Description:</label> <input type="text" class="form-control"
						ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.policyDescription" />
				</div>
			</div>
			<div class="form-group row">
				<div class="form-group col-sm-6">
					<label>Onap Name:<sup><b>*</b></sup></label> <select
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.onapName"
						ng-options="option for option in onapNameDictionaryDatas track by option"
						required pattern="\S+" title="OnapName is required"></select>
				</div>
				<div class="form-group col-sm-6">
					<label>Rule Provider:<sup><b>*</b></sup></label><select
						class="form-control" ng-disabled="temp.policy.readOnly"
						ng-model="temp.policy.ruleProvider"
						ng-init="providerListener(temp.policy.ruleProvider);"
						ng-click="providerListener(temp.policy.ruleProvider);">
						<option>Custom</option>
						<option>AAF</option>
						<option>Rainy_Day</option>
						<option>GUARD_YAML</option>
						<option>GUARD_BL_YAML<option>
					</select>
				</div>
			</div>
		</div>
		<div ng-if="temp.policy.ruleProvider == 'Rainy_Day'">
			<div class="well">
				<div class="form-group row">
					<div class="form-group row">
						<div class="form-group col-sm-1">
							<label>Service Type:<sup><b>*</b></sup></label>
						</div>
						<div class="form-group col-sm-2">
							<input type="text" class="form-control"
								ng-disabled="temp.policy.readOnly" ng-model="temp.policy.rainyday.serviceType"
								placeholder="Service Type" />
						</div>
						<div class="form-group col-sm-1">
							<label>VNF Type:<sup><b>*</b></sup></label>
						</div>
						<div class="form-group col-sm-2">
							<input type="text" class="form-control"
								ng-disabled="temp.policy.readOnly" ng-model="temp.policy.rainyday.vnfType"
								placeholder="VNF Type" />
						</div>
						<div class="form-group col-sm-1">
							<label>Building Block ID:<sup><b>*</b></sup></label>
						</div>
						<div class="form-group col-sm-2">
								<select
									class="form-control" ng-disabled="temp.policy.readOnly"
									ng-model="temp.policy.rainyday.bbid"
									ng-options="option for option in rainyDayDictionaryDatas track by option"
									ng-change="getWorkstepValues(temp.policy.rainyday.bbid)">
									<option value="">{{temp.policy.rainyday.bbid}}</option>
								</select>
						</div>
						<div class="form-group col-sm-1">
							<label>Work Step:<sup><b>*</b></sup></label>
						</div>
						<div class="form-group col-sm-2">
							<select
									class="form-control" ng-disabled="temp.policy.readOnly"
									ng-model="temp.policy.rainyday.workstep"
									ng-options="option for option in workstepDictionaryDatas track by option"
									ng-change="getTreatmentValues(temp.policy.rainyday.bbid, temp.policy.rainyday.workstep)">
									<option value="">{{temp.policy.rainyday.workstep}}</option>
							</select>
						</div>
					</div>
					<div class="form-group row">
						<div class="form-group col-sm-3">
							<label>Desired Automated Treatments:</label>
							<button type="button" class="btn btn-default"
								ng-disabled="temp.policy.readOnly"
								ng-click="addNewTreatment()">
								<i class="fa fa-plus"></i>
							</button>
						</div>
					</div>
					<div class="form-group row">
					<div data-ng-repeat="treatmentTableChoice in temp.policy.rainyday.treatmentTableChoices">
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-1">
								<label>Error Code:<sup><b>*</b></sup></label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly"
									ng-model="treatmentTableChoice.errorcode"
									placeholder="Error Code" />
							</div>
							<div class="form-group col-sm-1">
								<label>Desired Treatment:<sup><b>*</b></sup></label>
							</div>		
							<div class="form-group col-sm-3">
								<select
									class="form-control" 
									ng-disabled="temp.policy.readOnly"
									ng-model="treatmentTableChoice.treatment"
									ng-options="option for option in allowedTreatmentsDatas track by option">
									<option value="">{{treatmentTableChoice.treatment}}</option>
								</select>						
							</div>
							<div class="form-group col-sm-1">
								<button type="button" class="btn btn-default"
									ng-disabled="temp.policy.readOnly"
									ng-click="removeTreatment()">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-if="temp.policy.ruleProvider == 'GUARD_BL_YAML'">
			<div class="well">
				<div class="form-group row">
					<div class="form-group col-sm-1">
						<label>Guard BlackList YAML Attributes:</label><br>
					</div>
				</div>
				<div class="form-group row">
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> actor: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.actor"
									placeholder="Actor" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> recipe: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.recipe"
									placeholder="Recipe" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> CLName: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.clname"
									placeholder="CLName" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> guardActiveStart: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.guardActiveStart"
									placeholder="00:00:00-05:00" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> guardActiveEnd: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.guardActiveEnd"
									placeholder="00:00:00-05:00" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> BlackList: </label>
								<button type="button" class="btn btn-default"
									ng-disabled="temp.policy.readOnly" ng-click="addNewBL()">
									<i class="fa fa-plus"></i>
								</button>
							</div>
							<div class="form-group col-sm-4">
								<div data-ng-repeat="choice in temp.policy.yamlparams.blackList track by $index">
									<div class="form-group row">
									<div class="form-group col-sm-9">
										<input type="text" class="form-control"
										ng-disabled="temp.policy.readOnly"
										ng-model="temp.policy.yamlparams.blackList[$index]" placeholder="BlackList" />
									</div>
									<div class="form-group col-sm-1">
										<button type="button" class="btn btn-default" ng-show="$last"
										ng-disabled="temp.policy.readOnly" ng-click="removeBL()">
										<i class="fa fa-minus"></i>
										</button>
									</div>
									</div>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>
		
		<div ng-if="temp.policy.ruleProvider == 'GUARD_YAML'">
			<div class="well">
				<div class="form-group row">
					<div class="form-group col-sm-1">
						<label>Guard YAML Attributes:</label><br>
					</div>
				</div>
				<div class="form-group row">
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> actor: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.actor"
									placeholder="Actor" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> recipe: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.recipe"
									placeholder="Recipe" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> CLName: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.clname"
									placeholder="CLName" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> Targets: </label>
								<button type="button" class="btn btn-default"
									ng-disabled="temp.policy.readOnly" ng-click="addNewTarget()">
									<i class="fa fa-plus"></i>
								</button>
							</div>
							<div class="form-group col-sm-4">
								<div data-ng-repeat="choice in temp.policy.yamlparams.targets track by $index">
									<div class="form-group row">
									<div class="form-group col-sm-9">
										<input type="text" class="form-control"
										ng-disabled="temp.policy.readOnly"
										ng-model="temp.policy.yamlparams.targets[$index]" placeholder="Target" />
									</div>
									<div class="form-group col-sm-1">
										<button type="button" class="btn btn-default" ng-show="$last"
										ng-disabled="temp.policy.readOnly" ng-click="removeTarget()">
										<i class="fa fa-minus"></i>
										</button>
									</div>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> limit: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.limit"
									placeholder="Limit" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> timeWindow: </label>
							</div>
							<div class="form-group col-sm-2">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.timeWindow"
									placeholder="Time Window" />
							</div>
							<div class="form-group col-sm-1">
								<select class="form-control" ng-disabled="temp.policy.readOnly" 
								ng-model="temp.policy.yamlparams.timeUnits">
								<option>minute</option>
								<option>hour</option>
								<option>day</option>
								<option>week</option>
								<option>month</option>
								<option>year</option>
								</select>
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> guardActiveStart: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.guardActiveStart"
									placeholder="00:00:00-05:00" />
							</div>
						</div>
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<label> guardActiveEnd: </label>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="temp.policy.yamlparams.guardActiveEnd"
									placeholder="00:00:00-05:00" />
							</div>
						</div>
				</div>
			</div>
		</div>


		<div ng-if="temp.policy.ruleProvider == 'Custom'">
			<div class="well">
				<div class="form-group row">
					<div class="form-group col-sm-1">
						<label>Component Attributes:</label><br>
						<button type="button" class="btn btn-default"
							ng-disabled="temp.policy.readOnly" ng-click="addNewChoice()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="form-group row">
					<div data-ng-repeat="choice in temp.policy.attributes">
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<select class="form-control" ng-disabled="temp.policy.readOnly"
									ng-model="choice.key"
									ng-options="option for option in attributeDictionaryDatas track by option">
									<option value="">{{choice.key}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly" ng-model="choice.value"
									placeholder="Attribute Value" />
							</div>
							<div class="form-group col-sm-1">
								<button type="button" class="btn btn-default" ng-show="$last"
									ng-disabled="temp.policy.readOnly" ng-click="removeChoice()">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="temp.policy.ruleProvider == 'Custom'">
			<div class="well">
				<div class="form-group row">
					<div class="form-group col-sm-1">
						<label>Settings Attributes:</label><br>
						<button type="button" class="btn btn-default"
							ng-disabled="temp.policy.readOnly"
							ng-click="addNewSettingsChoice()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="form-group row">
					<div data-ng-repeat="settingschoice in temp.policy.settings">
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-3">
								<select class="form-control" ng-disabled="temp.policy.readOnly"
									ng-model="settingschoice.key"
									ng-options="option for option in settingsDictionaryDatas track by option">
									<option value="">{{settingschoice.key}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly"
									ng-model="settingschoice.value" placeholder="Settings Value" />
							</div>
							<div class="form-group col-sm-1">
								<button type="button" class="btn btn-default" ng-show="$last"
									ng-disabled="temp.policy.readOnly"
									ng-click="removeSettingsChoice()">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-if="temp.policy.ruleProvider == 'Custom'">
			<div class="well">
				<label>Decision Rule Algorithms:<sup><b></b></sup></label><br>
				<div class="form-group row">
					<div class="form-group col-sm-1">
						<button type="button" class="btn btn-default"
							ng-disabled="temp.policy.readOnly"
							ng-click="addNewRuleAlgorithm()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
				<div class="form-group row">
					<div
						data-ng-repeat="ruleAlgorithmschoice in temp.policy.ruleAlgorithmschoices">
						<div class="form-group row" style="margin-left: 2%">
							<div class="form-group col-sm-1">
								<label
									ng-model="ruleAlgorithmschoice.dynamicRuleAlgorithmLabels"
									name="dynamicRuleAlgorithmLabels">{{ruleAlgorithmschoice.id}}</label>
							</div>
							<div class="form-group col-sm-3">
								<select class="form-control" id="mySelect"
									ng-disabled="temp.policy.readOnly"
									ng-model="ruleAlgorithmschoice.dynamicRuleAlgorithmField1"
									ng-options="option for option in attributeDictionaryDatas track by option"
									name="dynamicRuleAlgorithmField1">
									<option value="">{{ruleAlgorithmschoice.dynamicRuleAlgorithmField1}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<select type="text" class="form-control"
									ng-disabled="temp.policy.readOnly"
									ng-model="ruleAlgorithmschoice.dynamicRuleAlgorithmCombo"
									ng-options="option for option in functionDefinitionDatas track by option"
									name="dynamicRuleAlgorithmCombo"></select>
							</div>
							<div class="form-group col-sm-3">
								<input type="text" class="form-control"
									ng-disabled="temp.policy.readOnly"
									ng-model="ruleAlgorithmschoice.dynamicRuleAlgorithmField2"
									name="dynamicRuleAlgorithmField2" />
							</div>
							<div class="form-group col-sm-1">
								<button type="button" class="btn btn-default"
									ng-disabled="temp.policy.readOnly"
									ng-click="removeRuleAlgorithm()">
									<i class="fa fa-minus"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div id="validate" style="width: 70%"></div>
		<br>
		<div class="modal-footer">
			<button class="btn btn-primary" herf="javascript:void(0)"
				ng-disabled="temp.policy.readOnly"
				ng-click="validatePolicy(temp.policy);">Validate</button>
			<button class="btn btn-success" herf="javascript:void(0)"
				ng-disabled="savebutton" ng-disabled="temp.policy.readOnly"
				ng-click="saveDecisionPolicy(temp);">Save</button>
			<button type="button" class="btn btn-default" ng-click="refresh();">Close</button>
		</div>
	</form>
</div>